.buttons {
  float: right;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 1rem;
  button {
    height: auto;
    width: auto;

    &:not(:disabled):active {
      transform: scale(0.9);
    }

    + button {
      margin-left: 10px;
    }
  }
}

.copyButton,
.saveButton {
  width: 100px;
}
.copyButton {
}

.saveButton {
}

.deleteButton {
  background-color: var(--danger-color);
}

.empty {
  background-color: var(--disabled-color);
  color: black;
}

.copyButton:disabled,
.saveButton:disabled {
  background-color: var(--green-color);
  cursor: auto;
}
