.text-block {
  position: relative;
  border-radius: 10px;
  background-color: var(--primary-color-hover);
  list-style: none;
}

.text-block:not(:empty) {
  padding: 1rem;
}

.text-block + .text-block {
  height: auto;
  margin-top: 10px;
}

.text-block__text {
  margin-right: 20px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.text-block button {
  padding: 10px;
  border-radius: 5px;
}
