.button {
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
