@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #232c33;
  --primary-color-hover: #2c363d;
  --secondary-color: #009688;
  --primary-font-color: #fff;
  --green-color: #4caf50;
  --disabled-color: #9e9e9e;
  --success-color: #8bc34a;
  --success-border-color: #155818;
  --danger-color: #f44336;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  color: var(--primary-font-color);
  background-color: var(--primary-color);
}
/* 
.button {
  align-self: center;
  width: 250px;
  height: 80px;
  border-radius: 10px;
} */

.done {
  background-color: var(--green-color);
  cursor: default;
}

.danger {
  background-color: var(--danger-color);
}
