.header {
  display: flex;
  padding: 1rem;
  align-content: center;
  height: 10vh;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
