.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  > ul {
    padding-top: 0px;
  }

  @media (max-width: 560px) {
    padding: 1rem;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}
