.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 15%;
}

.container > div {
  padding-top: 0;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 560px) {
  .container {
    padding: 1rem;
  }
}
